#container {
    position: relative;

    width: 100vw;
    height: 100vh;
}

/* HEADER */
header {
    /* Fiz desta forma, pois não me recordo de forma alguma como coloca algo ao lado do float left no #side-menu */
    position: relative;
    float: right;

    font: 500 1rem Roboto;

    width: calc(100vw - 253px);
    background-color: var(--color-background-header);
}
#header-content {
    padding: 0px 40px;
    height: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    gap: 10px;

    justify-content: center;
    align-items: center;
}
.header-p {
    font: 300 .9rem Roboto;
    text-align: justify;
    color: #725C5C;

    height: 100%;
}
.header-p span {
    font: 700 1rem Roboto;
}
#header-button img{
    height: 20px;
}
#header-button {
    background-color: var(--color-background-header);

    border: 2px solid var(--color-background-content);
    box-shadow: 1px 1px 1px var(--color-background-content);

    height: 40px;
    width: 100px;

    right: 0;

    display: flex;
    align-items: center;
    justify-self: center;
}
#header-account {
    display: block;
    text-align: right;

    padding-top: 5px;

    font: 300 1rem Roboto;
    color: #333333;
}
#header-account-img {
    height: 50px;
}

/* ASIDE */
#side-menu {
    position: absolute;
    float: left;

    background-color: var(--color-background);

    width: 250px;
    height: 200vh;
    margin: 0;
    padding: 0;

    box-shadow: 4px 0 4px var(--color-background-content);
}
#sidebar {
    position: relative;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}
#title-sidebar {
    margin: 0;
    padding: 0;

    border-bottom: 1px solid black;

    height: 70px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font: 500 2rem Roboto;
    
    color: var(--color-background);
 
    background-image: linear-gradient(180deg, var(--color-primary-light), var(--color-primary-darker));
}
#logo-sidebar {
    height: 250px;
}
#buttons-menu-items {
    display: flex;
    flex-direction: column;
}
.menu-item:hover {
    background-color: var(--color-primary-lighter);
}
#buttons-menu-items a{
    font: 400 1.4rem Roboto;
    color: var(--color-text-title);

    border-bottom: 2px solid var(--color-background-content);

    padding: 5px;
    padding-left: 25px;

    text-decoration: none;
}

/* MAIN */
main {
    height: calc(100vh - 70px);
    width: calc(100vw - 253px);

    background: var(--color-background);

    float: right;
}
main #content-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 1fr;

    grid-template-areas: 
    "title-main buttons-content-main"
    "video-main info-content-main";

    column-gap: 40px;
    row-gap: 20px;
}
/* 1° linha e 1° coluna */
main #title-main {
    padding-left: 40px;
    margin-bottom: 100px;

    font: 500 1.2rem Roboto;

    color: var(--color-primary);
}
/* 1° linha e 2° coluna */
#buttons-content-main .buttons-main {
    text-decoration: none;
    padding: 0;

    display: inline;
    justify-content: center;
    align-items: center;

    font: 600 1rem Roboto;
    color: var(--color-background);
    background-color: var(--color-primary);

    border-radius: 5px;
}
#icon-star {
    width: 15px;
    height: 15px;
}
#icon-doi {
    width: 15px;
    height: 15px;
}
#icon-download {
    width: 20px;
    height: 10px;
}
#buttons-content-main p {
    font: 500 1rem Roboto;
    color: var(--color-primary);
}
/* 2° linha e 1° coluna */
#video-main {
    margin: 0;
    padding: 0;
    padding-left: 40px;

    display: flex;
    justify-self: center;

    width: calc(100% - 50px);
    height: calc(100% + 30px);
}
/* 2° linha e 2° coluna */
#info-content-main {
    display: flex;
    flex-direction: column;

    width: 100%;
}
#info-content-main #title-info {
    width: 70%;
    height: 50px;
    padding-left: 15px;

    border: 1px solid #ECECEC;

    display: flex;
    align-items: center;

    font: 500 1.6rem Roboto;
    color: #4E4E4E;
    background-color: var(--color-background-header);
}
#info-content-main #info-detalhes {
    padding-left: 15px;
    padding-top: 20px;
    width: 70%;
    
    border: 1px solid #ECECEC;

    font: 300 .9rem Quicksand;
    color: var(--color-text-info);
}
.info-detalhes-enfase {
    font: 500 1rem Quicksand;
    font-weight: bold;
}
#info-detalhes-small {
    opacity: .5;
}

/* 1° article */
#div-first-article {
    margin: 0;
    margin-top: 60px;
    margin-left: 40px;
    
    width: 88%;

    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
}
#first-article-resume-title {
    font: 500 1.3rem Roboto;
    color: #4E4E4E;
    
    height: 45px;
    padding-left: 15px;

    border: 1px solid #ECECEC;
    
    display: flex;
    align-items: center;

    background-color: var(--color-primary-header);
}
#first-article {
    padding-left: 20px;
    padding-top: 10px;

    font: 400 1rem Quicksand;
    opacity: .5;
    text-align: justify;
}
#first-article span {
    font: 900 1rem Quicksand;
    opacity: 1;

    color: var(--color-primary);
}
/* 2° article */
#div-second-article {
    margin: 0;
    margin-top: 50px;
    margin-left: 40px;
    padding-left: 15px;

    width: 88%;

    border: 1px solid #ECECEC;
}
#second-article-discussion-title {
    font: 500 1.3rem Roboto;
    color: #4E4E4E;
    
    height: 45px;

    border: 1px solid #ECECEC;
    
    display: flex;
    align-items: center;

    background-color: var(--color-primary-header);
}
#second-title-article {
    font: 500 1.2rem Roboto;
    color: var(--color-primary);

    padding-top: 20px;

    display: flex;
    justify-content: center;
}
#second-article {
    width: 100%;
}
#second-article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#second-content {
    font: 400 1.1rem Quicksand;
    color: #595959;

    margin-top: 20px;

    text-align: center;
}
#button-second-article {
    background-image: linear-gradient(180deg, var(--color-primary-light), var(--color-primary-darker));
    
    width: 150px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: -15px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 4px;
    box-shadow: 4px 4px 4px var(--color-background-content);

    display: flex;
    align-items: center;
    justify-content: center;
    

    font: bold 1rem Quicksand;
    color: #FFFFFF;
    text-decoration: none;
}
#button-second-article img {
    margin: 0;
    margin-right: 5px;

    width: 25px;
    height: 25px;
}
/* 3° article */
#div-third-article {
    border: 1px solid #E7E7E7;

    margin-left: 40px;
    margin-top: 45px;
    width: 88%;
    font: 400 1rem Quicksand;
}
#third-article-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--color-primary);

    padding-top: 15px;
    padding-left: 25px;
}
#third-article-author {
    color: #5c5c5c;

    margin-top: 5px;
    padding-left: 25px;
}
#third-article-publication {
    font-weight: 300;
    color: #4D4D4D ;

    margin-top: 15px;
    padding-left: 25px;
}
#third-article-publication-footer {
    display: flex;
    align-items: center;

    font: 300 1rem SegoeUI;
    color: #757575;
}
#third-article-publication-footer #icon-more {
    height: 30px;
    width: 13px;

    padding-left: 25px;
    margin-top: 10px;
}
#third-article-publication-footer a {
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;

    border-radius: 2px;
    box-shadow: 2px 4px 4px var(--color-background-content);

    background-color: var(--color-primary);
}
#third-article-publication-footer img {
    height: 20px;
    width: 30px;
    padding: 0;
    margin: 0;
}
/* 3° article */
#div-fourth-article {
    border: 1px solid #E7E7E7;

    margin-left: 40px;
    margin-top: 45px;
    width: 88%;
    font: 400 1rem Quicksand;
}
#fourth-article-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--color-primary);

    padding-top: 15px;
    padding-left: 25px;
}
#fourth-article-author {
    color: #5c5c5c;

    margin-top: 5px;
    padding-left: 25px;
}
#fourth-article-publication {
    font-weight: 300;
    color: #4D4D4D ;

    margin-top: 15px;
    padding-left: 25px;
}
#fourth-article-publication-footer {
    display: flex;
    align-items: center;

    font: 300 1rem SegoeUI;
    color: #757575;
}
#fourth-article-publication-footer #icon-more {
    height: 30px;
    width: 13px;

    padding-left: 25px;
    margin-top: 10px;
}
#fourth-article-publication-footer a {
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;

    border-radius: 2px;
    box-shadow: 2px 4px 4px var(--color-background-content);

    background-color: var(--color-primary);
}
#fourth-article-publication-footer img {
    height: 20px;
    width: 30px;
    padding: 0;
    margin: 0;
}

/* footer */
#footer {
    font: 400 1rem Quicksand;

    margin-top: 175px;
    margin-left: 40px;

    width: 88%;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: 
    "img p";

    gap: 30px;
}
#footer img {
    width: 300px;
    height: 200px;

    padding-left: 10px;
}
#footer p {
    margin-top: 40px;

    color: #5C5C5C;
}
#footer p span {
    font: bold 1rem Quicksand;
}